{% extends "base.html" %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="form-group">
    <h1>Add a Review:</h1>
    <form method="POST" action="{% url 'add_review' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="rating rating2">
		<a href="#5" title="Give 5 stars">★</a>
		<a href="#4" title="Give 4 stars">★</a>
		<a href="#3" title="Give 3 stars">★</a>
        <a href="#2" title="Give 2 stars">★</a>
        <a href="#1" title="Give 1 star">★</a>
	</div>
        <div>
            <p>
                <button type="submit">Add Review</button>
            </p>
        </div>
    </form>
</div>
{% endblock %}