/*code adapted from:
https://github.com/ckz8780/boutique_ado_v1/tree/master/profiles/static/profiles/css*/

/* height of profile form + submit button */
.order-history {
    max-height: 26em;
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: 237, 237, 235;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: rgb(0, 0, 0);
}

#id_default_country option:first-child {
    color: rgb(237, 237, 235);
}
