{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="card-deck">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="card text-center text-light bg-warning mb-3">
            <img src="media/homepage_images/workout-plan-category.jpg" class="card-img-top" alt="Workout plans category image">
            <div class="card-body">
                <h5 class="card-title">Workout Plans</h5>
                <a href="#" class="btn btn-primary">Go<i class="fas fa-arrow-circle-right"></i></a>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="card text-center text-light bg-warning mb-3">
            <img src="media/homepage_images/mens-activewear.jpg" class="card-img-top" alt="Activewear category image">
            <div class="card-body">
                <h5 class="card-title">Activewear</h5>
                <a href="#" class="btn btn-primary">Go<i class="fas fa-arrow-circle-right"></i></a>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <div class="card text-center text-light bg-warning mb-3">
        <img src="media/homepage_images/accessories-category.jpg" class="card-img-top" alt="Accessories card image">
        <div class="card-body">
            <h5 class="card-title">Accessories</h5>
            <a href="#" class="btn btn-primary">Go<i class="fas fa-arrow-circle-right"></i></a>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
</div>
{% endblock %}