argh==0.26.2
asgiref==3.3.1
bag==3.0.0
checkout==0.2.0
dj-database-url==0.5.0
Django==3.1.4
django-allauth==0.44.0
django-countries==6.1.3
django-crispy-forms==1.10.0
oauthlib==3.1.0
Pillow==8.0.1
polib==1.1.0
PyJWT==1.7.1
python3-openid==3.2.0
pytz==2020.4
requests-oauthlib==1.3.0
sqlparse==0.4.1
stripe==2.55.1
