body {
	font-size: 18px;
	background-color: rgb(255, 255, 255);
}

.head_text {
	color: rgb(255, 255, 255);
}

.card {
	box-shadow: 0 16px 48px rgb(0, 0, 0);
}

.btn-danger {
	color: rgb(255, 255, 255);
	background-color: rgb(240, 0, 0);
	border-color: rgb(220, 40, 30);
}

.masthead {
	background: rgb(51,152,225);
	height: auto;
	padding-bottom: 15px;
	box-shadow: 0 16px 48px rgb(0, 0, 0);
	padding-top: 10px;
}

.sidebar-card {
	box-shadow: 0 16px 48px rgb(0, 0, 0);
}