body {
	font-size: 18px;
	background-color: #fdfdfd;
}

.head_text {
	color: rgb(255, 255, 255);
}

.card {
	box-shadow: 0 16px 48px #E3E7EB;
}

.btn-danger {
	color: #fff;
	background-color: #f00000;
	border-color: #dc281e;
}

.masthead {
	background: #3398E1;
	height: auto;
	padding-bottom: 15px;
	box-shadow: 0 16px 48px #E3E7EB;
	padding-top: 10px;
}

.sidebar-card {
	box-shadow: 0 16px 48px #E3E7EB;
}