html {
    height: 100%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.btn-outline-black {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 0.0625em solid rgb(252, 178, 18);
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.border-black {
    border: 0.0625em solid rgb(0, 0, 0);
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgb(255, 255, 255);
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.btt-button {
    height: 2.625em;
    width: 2.625em;
    position: fixed;
    bottom: 0.625em;
    right: 0.625em;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: rgb(181, 179, 174);
}

/* ------------------------------- homepage cards */

.card {
    border-radius: 1em;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s
    -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.02);
}

/* ------------------------------- Homepage jumbotron header */
.jumbotron {
    background-image: linear-gradient(#b9a2a5, #ffc342);
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 4.5em;
    right: 0.9375em;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 0.125em;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 0.25em solid transparent;
    border-right: 0.25em solid transparent; 
    border-bottom:  0.625em solid rgb(0, 0, 0);
    position: absolute;
    top:  -0.625em;
    right: 2.25em;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: rgb(66, 114, 245);
}

.arrow-secondary {
    border-bottom-color: rgb(166, 166, 166);
}

.arrow-success {
    border-bottom-color: rgb(66, 245, 66);
}

.arrow-danger {
    border-bottom-color: rgb(252, 3, 3);
}

.arrow-warning {
    border-bottom-color: rgb(252, 178, 18);
}

.arrow-info {
    border-bottom-color: rgb(3, 240, 252);
}

.arrow-light {
    border-bottom-color: rgb(255, 255, 255);
}

.arrow-dark {
    border-bottom-color: rgb(0, 0, 0);
}

.bag-notification-wrapper {
    height: 6.25em;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Card image size */

.card img {
    height: 18em;
}

/* -------------------------------- sign out page */
.logout-text {
    text-align: center;
    padding-top: 8em;
}

/*--------------------------------- Verify email */
/*verify email text message*/
.verify-title {
    padding-top: 5em;
}

/*--------------------------------- Footer */

footer .container-fluid {
    padding-top: 60px;
}

.head1 {
    font-weight: 900;
    font-size: 1.875em;
}

.bdr {
    border-bottom: 1.5px solid rgb(252, 178, 18);
    width: 6.25em;
    margin-right: auto;
    margin-left: auto
}

footer .card-footer {
    justify-content: space-between;
    border: none;
    background: none;
    border-bottom: 0.09375em solid rgb(130, 130, 130);
}

.footer-right>i {
    margin-left: 1.875em;
}

footer .card-title {
    margin-bottom: .75rem;
    font-weight: 900;
    font-size: 0.9375em;
    margin-top: 1em;
}

.learn-more {
    color: rgb(252, 178, 18)
}

.fa-3x {
    color: rgb(252, 178, 18);
}

footer .card-content {
    padding-right: 2.5em;
    padding-left: 1.875em;
    padding-bottom: 0.3125em;
    padding-top: 0.3125em;
}

footer .card-content>p {
    color: rgb(255, 255, 255);
}

footer .heading {
    position: relative;
    top: 1.875em;
}

footer .follow-text {
    color: inherit;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: rgb(130, 130, 130);
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(0, 207, 10);
    border: 1px solid rgb(0, 0, 0);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}


/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: rgb(252, 3, 3);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: rgb(252, 3, 3);
    border-color: rgb(252, 3, 3);
    border-radius: 0;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 10.25em;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-success.rounded-0.btn-lg,
    .btn.btn-warning.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem;
    }
}