/*--------------- read more button, taken from https://www.w3schools.com/howto/howto_js_read_more.asp */
#more {
    display: none;
}

/* map sized responsively*/
#map {
  height: 20em;
  width: 100%;
  color: rgb(0, 0, 0);
}

/* --------------------- contact form */

.form-control {
    display: block;
    width: 100%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(196, 196, 196);
    border: 0.0625em solid rgb(0, 0, 0);
    border-radius: .25rem;
}

/*--------------------- enquiries media queries */

/*xxl monitor*/
@media screen and (min-width: 1500px) {
  #map {
    height: 400px;
    width: 100%;
  }
}