/*--------------- read more button, taken from https://www.w3schools.com/howto/howto_js_read_more.asp */
#more {
    display: none;
}

/*--------------- enquiry form*/

/* Style inputs with type="text", select elements and textareas */
.w3s input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Add a background color and some padding around the form */
.w3s .container {
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
  padding: 0.9375em;
}