<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Activewear-and-Accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Activewear and Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Activewear-and-Accessories-link">
                <a href="{% url 'products' %}?category=women's_activewear" class="dropdown-item">Women's activewear</a>
                <a href="{% url 'products' %}?category=men's_activewear" class="dropdown-item">Men's Activewear</a>
                <a href="{% url 'products' %}?category=training_accessories" class="dropdown-item">Training Accessories</a>
                <a href="{% url 'products' %}?category=women's_activewear, men's_activewear, training_accessories" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!--Workout plans dropdown-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Workouts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Workout Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Workouts-link">
                <a href="{% url 'products' %}?category=bed_bath" class="dropdown-item">Bed &amp; Bath</a>
                <a href="{% url 'products' %}?category=kitchen_dining" class="dropdown-item">Kitchen &amp; Dining</a>
                <a href="{% url 'products' %}?category=bed_bath,kitchen_dining" class="dropdown-item">All Homeware</a>
            </div>
        </li>
    </ul>
</div>