<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="plans-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Workout Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="plan-link">
                <a href="{% url 'products' %}?category=workout-plans" class="dropdown-item">Running</a>
                <a href="{% url 'products' %}?category=workout-plans" class="dropdown-item">Get lean</a>
                <a href="{% url 'products' %}?category=workout-plans" class="dropdown-item">Gain Muscle</a>
                <a href="{% url 'products' %}?category=workout-plans" class="dropdown-item">All Workout Plans</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Merchandise-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Merchandise
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Mens Activewear</a>
                <a href="" class="dropdown-item">Womens Activewear</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">All Activewear</a>
            </div>
        </li>
    </ul>
</div>