{% extends "base.html" %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<body>
    <h1 class="container">Your Fitness Station blog</h1>
<div class="text-right">
    <a href="{% url 'add_blog_post' %}">
    <button type="button" class="btn btn-success">
    Create a new post
    <i class="fas fa-plus-circle"></i>
    </button>
    </a>
</div>
    {% for item in items %}
    <div>
    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title"> {{ item.title }} </h5>
            <p class="card-text"> {{ item.content }} </p>
        </div>
        <div class="card-footer">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-success">
                    <a href="{% url 'add_blog_post' %}">
                <input type="radio" name="options" id="option1">
                 Create
                    <i class="fas fa-plus-circle"></i>
                    </a>
                </label>
                <label class="btn btn-warning">
                    <a href="/edit_blog_post/{{ item.id }}">
                    <input type="radio" name="options" id="option2"> Edit
                    <i class="fas fa-user-edit"></i>
                    </a>
                </label>
                <label class="btn btn-danger">
                    <a href="/delete/{{ item.id }}"></a>
                    <input type="radio" name="options" id="option3"> Delete
                    <i class="fas fa-trash-alt"></i>
                </label>
            </div>
        </div>
    </div>
</div>
<br>
    {% endfor %}
</body>
{% endblock %}