{% extends "base.html" %}

{% block content %}
{% block page_header %}s
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
<div class="container">
    <div class="row">
        <!-- Blog post Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ title }}</h2>
                    <p class="card-text text-muted h6">{{ content }}</p>
                    <p class="card-text"></p>
                    <a href="{% url 'edit_blog_item' %}" class="btn btn-success">Update Post&rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}