{% extends "base.html" %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<body>
    <h1 class="container">Your Fitness Station blog</h1>
    <div>
        <a href="{% url 'add_blog_post' %}">
        <button type="button" class="btn btn-success">
        Create a new post
        <i class="fas fa-plus-circle"></i>
        </button>
        </a>
    </div>
    <table>
        {% for post in posts %}
        <td>
            <a href="/edit/{{ item.id }}">
            <button>Edit</button>
            </a>
        </td>
        <td>
            <a href="/delete/{{ item.id }}">
            <button>Delete</button>
            </a>
        </td>
    </table>
    {% endfor %}
</body>
{% endblock %}