{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/enquiries.css' %}">
{% endblock %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h3 class="display-4">About Fitness Station</h3>
    <p class="lead">Looking to sign up at a local gym in Minehead? 
        Get in touch with Fitness Station. Our state-of-the-art gym has the facilities and equipment to cater for people of all abilities. 
        We strive to offer our customers the best services and equipment when visiting our gym.<span id="dots">...</span><span id="more">
        For this reason, we not only offer professional personal training, but we also ensure all our gym memberships and 
        fitness services are available at affordable and competitive prices.
        Whether you are in training for a half marathon and need to work on your cardiovascular fitness or would like to improve on your muscular strength, we can help you. 
        As well as Olympic class equipment, we also provide a tanning station, available for both gym members and members of the public.</span>
    </p>
    <button onclick="myFunction()" id="myBtn">Read more</button>
    <hr class="my-4">
    <p>If you would like to book an appointment or take out a gym membership with us, why not get in touch? 
        We will help you to organise and arrange a gym plan that is tailored to your personal requirements. 
    </p>
</div>
<!-- User inputs name, email, message and send to fitness station team. -->
<div class="form-group">
<section class="container-fluid section-container">
<div class="row">
<div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
    <h1>Contact Us</h1>
    <form method="POST" action="{% url 'enquiries' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <label class="my-2" for="reviewer">Name</label>
            </div>
            <div class="col-12">
                <input id="reviewer" name="reviewer" type="text" class="w-75" placeholder="Your name" required>
            </div>
            <div class="col-12">
                <label class="my-2" for="reviewer">Your email address</label>
            </div>
            <div class="col-12">
                <input id="review" name="reviewer" type="text" class="w-75" placeholder="email" required>
            </div>
            <div class="col-12">
                <label class="my-2" for="review_text">Your message</label>
            </div>
            <div class="col-12">
                <textarea id="review_text" name="enquiry" type="text" class="w-100" placeholder="Please enter your message here" required></textarea>
            </div>
            <input type="submit" class="btn btn-sm btn-success" value="Submit enquiry">
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </div>
    </form>
    <hr>
</div>
<!--Map displaying location of the gym-->
<div class="col-lg-6 contact-map text-wrapper">
    <div class="reveal-text"></div>
    <h3>We are located in Minehead Somerset</h3>
    <div class="custom-map">
    </div>
</div>
</div>
</section>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script class="custom-map"></script>
<!--Map API key-->
<script async defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwkm-Zl_LpT63IFWXzmGhS8i6vZFf9dM8&callback=initMap"></script>
<script src="{% static 'js/enquiries.js' %}"></script>
{% endblock %}