{% extends "base.html" %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<form action="{% url 'add_reviews' %}" method="POST" id="new-review">
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button id="submit" class="btn btn-success rounded-0">
    <span class="font-weight-bold">Submit Enquiry</span>
    <span class="icon">
    <i class="fas fa-lock"></i>
    </span>
    </button>
</form>
{% endblock %}