{% extends "base.html" %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
        <div class="col-12 col-lg-6">
            <p class="text-muted">Please fill out the form below to submit your enquiry</p>
            <form action="{% url 'add_reviews' %}" method="POST" id="new-review">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                    <button id="submit-button" class="btn btn-success rounded-0">
                    <span class="font-weight-bold">Submit Enquiry</span>
                    <span class="icon">
                    <i class="fas fa-lock"></i>
                    </span>
                    </button>
            </form>
        </div>
{% endblock %}