.StripeElement, .stripe-style-input {
     box-sizing: border-box;
     height: 40px;
     padding: 10px 12px;
     border: 1px solid transparent;
     border-radius: 0px;
     background-color: rgb(255, 255, 255);
     box-shadow: 0 1px 3px 0 rgb(255, 255, 255);
     -webkit-transition: box-shadow 150ms ease;
     transition: box-shadow 150ms ease;
}
 .StripeElement--focus, .stripe-style-input:focus, .stripe-style-input:active {
     box-shadow: 0 1px 3px 0 rgb(255, 255, 255);
}
 .StripeElement--webkit-autofill {
     background-color: rgb(255, 255, 255);
}
 .stripe-style-input::placeholder {
     color: rgb(196, 196, 196);
}
 .fieldset-label {
     position: relative;
     right: .5rem;
}
 #payment-form .form-control, #card-element {
     color: rgb(0, 0, 0);
     border: 1px solid rgb(0, 0, 0);
}
 select, select option {
     color: rgb(0, 0, 0);
}
 select:invalid, select option[value=""] {
     color: rgb(196, 196, 196);
}
 #loading-overlay {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgb(255, 200, 112);
     z-index: 9999;
}
 .loading-spinner {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0;
     height: 100%;
}