{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<!--Add product template, only for gym owners to add or remove prducts-->
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">Product Management</h2>
            <h5 class="text-muted">Add a Product</h5>
            <hr>
        </div>
    </div>
    <!--Call django crispy fields form template, user can add a new product details-->
    <div class="card-shadow">
    <div class="row">
        <div class="col-12 col">
            <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data" 
              min="1" max="99">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a class="btn btn-outline-danger rounded-0" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-success rounded-0" type="submit">Add Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#new-image').change(function() {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}