{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<main class="container-fliud main__wrapper">
	<div class="card">
		<div class="card-header">
			<h4 class="text-uppercase text-center">{{ product.name }} reviews</h4>
		</div>
		<div class="card-body">
			{% for review in reviews %}
			{% if review.user_profile.user == request.user %}
			{% include 'products/components/review-form.html' with edit='True' %}
			{% else %}
			{% include 'products/components/review-body.html' %}
			{% endif %}
			{% endfor %}
			{% if user_review == "" and user_purchased %}
			{% include 'products/components/review-form.html' with new='True' %}
			{% endif %}
		</div>
		<div class="card-footer">
			<div class="row">
				<div class="col-6 col-lg-4">
					<a href="{% url 'product_detail' product.id %}" class="btn button-primary-outline"
						aria-label="go back"><i class="fas fa-angle-double-left"></i></a>
				</div>
				<div class="col-6 col-lg-4 offset-lg-3 pr-lg-0 text-right">
					<a href="{% url 'add_to_bag' product.id %}" class="btn button-secondary-outline">Buy</a>
				</div>
			</div>
		</div>
	</div>
</main>
{% include 'products/components/delete-review-modal.html' %}
{% endblock content %}
{% block extra_scripts %}
<script src="{% static 'products/js/scripts.js' %}"></script>
{% endblock extra_scripts %}